name: CI/CD

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build image
        run: docker build -t johnxyn/grilli-master:${{ github.sha }} .

      - name: Push image
        run: docker push johnxyn/grilli-master:${{ github.sha }}

      - name: Update deployment image
        run: |
          kubectl set image deployment/grilli-deployment \
          grilli-container=johnxyn/grilli-master:${{ github.sha }} \
          -n grilli

      - name: Apply kustomize
        run: kubectl apply -k k8s/